body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'poppins';
}

* {
  overflow: hidden;
}

.sidebar {
  width: 100px;
  max-height: max-content;
  min-height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  height: 100%;
  position: relative;
  /* Tambahkan baris ini */
}

.section {
  flex: 3;
  height: 100vh;
  border-left: 1px solid #ccc;
  position: relative;
  /* Tambahkan baris ini */
}

.section1 {
  flex: 1;
  height: 100vh;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.profile-picture img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.profile-picture {
  width: 33px;
  margin-left: 30px;
  margin-top: 14px;
  height: 33px;
  border-radius: 100%;
  background: red;
}

.wl {
  margin-left: 10px;
  margin-top: 18px;
}

header {
  height: 80px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.kotak {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: white;
  background: #391A94;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.kotak1 {
  margin-bottom: 28px;
  height: 24px;
  width: 100px;
  font-size: 11px;
  margin-top: 28px;
  color: white;
  background: #391A94;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-left: 650px;
}

input.pass {
  border: none;
  border-radius: 20px;
  height: 40px;
  background: #E6E1E1;
}

span.pass {
  padding: 6px 20px;
  border-radius: 8px;
  background: #E6E1E1;
  gap: 9px;
  display: flex;
  width: max-content;
  align-items: center;
  width: 800px;
}

.pass input {
  background: none;
  border: none;
  width: 800px;
}

.pass input:focus {
  border: none;
  outline: none;
}

.search {
  width: 100%;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;

}

.kontak {
  width: 100%;
  height: 77%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Untuk Chrome, Safari, dan Opera */
.kontak::-webkit-scrollbar {
  width: 10px;
  /* Lebar scrollbar */
}

.kontak::-webkit-scrollbar-track {
  background: none;
  /* Warna track */
}

.kontak::-webkit-scrollbar-thumb {
  background: #391A94;
  /* Warna thumb */
  border-radius: 5px;
  /* Sudut border thumb */
}

/* Untuk Firefox */
.kontak {
  scrollbar-width: thin;
  scrollbar-color: #391A94 #f1f1f1;
  /* Warna thumb dan track */
}

h4 {
  font-size: 18px;
  margin-left: 40px;
}

h5 {
  font-size: 12px;
  margin-left: 40px;
}

input[type=submit] {
  padding: 10px;
  background-color: #391A94;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  /* Atur jarak antara input dan button */
  width: 100px;
  /* Atur lebar input type submit */
  cursor: pointer;
}