body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'poppins';
  height: 100vh;
}

* {
  overflow: hidden;
}

.person {
  text-decoration: none;
  color: black;
}

.kotak-teman {
  border: 1px solid none;
  /* Garis tepi kotak */
  padding: 10px;
  /* Padding di dalam kotak */
  margin-bottom: 5px;
  /* Jarak antar kotak */
  width: 89%;
  background: #E6E1E1;
  height: 50px;
  align-items: center;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Transisi warna latar belakang selama 0.3 detik */
}

.kotak-teman:hover {
  background-color: #ccc;
  /* Ubah warna latar belakang saat hover */
}

.profil {
  display: flex;
  align-items: center;
  max-width: 50px;
}

.profil img {
  width: 100%;
  display: none;
  /* Sembunyikan gambar profil */
}

#pp {
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.profil .initial {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #391A94;
  /* Ubah warna background menjadi biru */
  color: white;
  /* Ubah warna teks menjadi putih */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 8px;
}

.sidebar {
  width: 100px;
  background-color: #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  top: 0;
  max-height: max-content;
  min-height: 100vh;
}




.main-content {
  flex: 1;
  display: flex;
  height: 100vh;
  position: relative;
}

.section {
  flex: 3;
  height: 100vh;
  border-left: 1px solid #ccc;
  position: relative;
}

.section1 {
  flex: 1;
  height: 100vh;
  border-left: 1px solid #ccc;
}

.wl{
  margin-top: 28px;
  margin-left: 10px;
}

.profile-picture img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

header {
  height: 80px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  margin: 0;
  display: flex;
  flex-direction: row;
}

* {
  overflow: hidden;
}

.person {
  text-decoration: none;
  color: black;
}

.kotak-teman {
  border: 1px solid none;
  padding: 10px;
  margin-bottom: 5px;
  width: 89%;
  background: #E6E1E1;
  height: 50px;
  align-items: center;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.kotak-teman:hover {
  background-color: #ccc;
}

.profil {
  display: flex;
  align-items: center;
  max-width: 50px;
}

.profil img {
  width: 100%;
  display: none;
}

#pp {
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.profil .initial {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #391A94;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 8px;
}

.group-circle {
  text-decoration: none;
  width: 20px;
  height: 20px;
  color: white;
  background: #391A94;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.group-circle:hover{
  border-radius: 20px;
  background-color: #603dc7;
  transition: ease-in-out 0.3s;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.section1 img {
  max-width: 100%;
  max-height: 100%;
}

.kotak {
  text-decoration: none;
  width: 20px;
  height: 20px;
  color: white;
  background: #391A94;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.kotak1 {
  margin-top: 20px;
  height: 24px;
  width: 100px;
  font-size: 11px;
  margin-top: 28px;
  color: white;
  background: #391A94;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-left: 60%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;

}

.kontak {
  width: 100%;
  height: 77%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  padding-left: 40px;
}

/* Untuk Chrome, Safari, dan Opera */
.kontak::-webkit-scrollbar {
  width: 10px;
  /* Lebar scrollbar */
}

.kontak::-webkit-scrollbar-track {
  background: none;
  /* Warna track */
}

.kontak::-webkit-scrollbar-thumb {
  background: #391A94;
  /* Warna thumb */
  border-radius: 5px;
  /* Sudut border thumb */
}

/* Untuk Firefox */
.kontak {
  scrollbar-width: thin;
  scrollbar-color: #391A94 #f1f1f1;
  /* Warna thumb dan track */
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 90%;
  margin-right: 850px;
  align-items: center;
  margin: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}